<!DOCTYPE html>
<html>
  <head>
    <title>Groceries</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
  </head>

  <body>

  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header navbar-brand-font-size">
        <%= link_to "Groceries", root_path, class: "navbar-brand"%>
      </div>
      <ul class="nav navbar-nav">
        <li> <%= link_to "Sign Up", new_user_registration_path %></li>
        <% if current_user.present? %>
          <li> <%= link_to "Sign Out", destroy_user_session_path, method: :delete %> </li>
        <% else %>
          <li> <%= link_to "Log In", new_user_session_path %> </li>
        <% end %>
      </ul>
      <% if user_signed_in? %>
        <%= link_to "Add a new item in the cart", new_item_path, class: "navbar-text navbar-link navbar-right"%>
      <% end %>
    </div>

  </nav>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
